<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1008990740929-089sv4r0f2mpbe2t14rh4fair5bduc9i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1008990740929-089sv4r0f2mpbe2t14rh4fair5bduc9i</string>
	<key>API_KEY</key>
	<string>AIzaSyAt5DyeDa7vjr55sFqNfMN2pmwvqi2k1LQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1008990740929</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagram-clonefirebase</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clonefirebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1008990740929:ios:95d9afc4e5b01e90340f40</string>
</dict>
</plist>